{% extends 'App/base.html' %}

{% load static %}

{% block title %}
    Productos
{% endblock title %}

{% block codigoDinamico %}

<div class="container">
    <h1>Nuestros Productos:</h1>
    <br><br><br>

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nombre Producto</th>
                <th scope="col">Marca Producto</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for producto in productos %}
                <tr class="table-warning text-center">
                    <td>{{ producto.id }}</td>
                    <td>{{ producto.nombre_producto }}</td>
                    <td>{{ producto.marca_producto }}</td>
                    <td>
                        <button type="button" class="btn btn-outline-success">
                            <a href="{% url 'Crear productos' %}">Nuevo Producto</a>
                        </button>
                        &nbsp; &nbsp;
                        <button type="button" class="btn btn-outline-light">
                            <a href="{% url 'Buscar productos' %}">Buscar Producto</a>
                        </button>
                        &nbsp; &nbsp;
                        <button type="button" class="btn btn-outline-danger">
                            <a href="{% url 'Eliminar productos' productos_id=producto.id %}">Eliminar producto</a>
                        </button>
                        &nbsp; &nbsp;
                        <button type="button" class="btn btn-outline-info">
                            <a href="{% url 'Actualizar productos' productos_id=producto.id %}">Actualizar producto</a>
                        </button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
